@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);

body {
    font-family: 'Roboto',
        sans-serif;
    margin: 0 !important;
}

#header {
    width: 100vw;
    background-color: #24292e;
    color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    min-height: 55px;
    text-transform: capitalize;
}

#headcontainer {
    height: 100%;
    min-height: 55px;
    width: 100%;
    max-width: 990px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#logo,
#header-button,
#nav {
    align-self: center;
}

#logo {
    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4px;
    font-size: 1.5rem;
    cursor: default;
}

#logo:hover {
    color: lightblue;
}

#header-button {
    fill: #ffffffbf;
    display: none !important;
    padding-right: 10px;
    margin-right: 4px;
    cursor: pointer;
}

#header-button:active {
    fill: #fff;
}

#nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#header-button,
#nav {
    justify-self: end;
}

@media all and (max-width: 700px) {
    #headcontainer {
        grid-template-columns: 3fr 1fr;
    }

    #header-button {
        display: block !important;
    }

    #nav {
        display: none;
        grid-column: 1/-1;
        justify-self: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    #header #nav a {
        border-top: 1px solid #444d56;
        border-bottom: none !important;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 4px;
    }

}

#header #nav a {
    color: #ffffffbf;
    text-decoration: none;
    margin-right: 10px;
}

#header #nav a:hover {
    color: #fff;
}

#header #nav a.active {
    border-bottom: 2px solid pink;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.05em;
    cursor: default;
}

.hidden {
    display: none;
}

.show {
    display: flex !important;
}


.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . ."". . .";
    justify-content: center;
}

.card:hover {
    box-shadow: 5px 11px 22px 5px rgba(0, 0, 0, 0.2);
}

.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.fullscreen {
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;

}

#population-number {
    text-align: center;
}

#play-controls {
    text-align: center;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    padding: 5px 0 1em 0;
}

#play-controls * {
    display: inline-block;
    vertical-align: middle;
}

#play-pause-button {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 3px;
    background: #f8f8f8;
}

#play-range {
    margin: 2.5%;
    width: 70%;
}

#play-output {
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal .chart {
    height: 90%;
    width: 90%;
    max-width: none;
}